{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/shop-homepage.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- <link rel="stylesheet" href="{%static 'css/style.css'%}"> -->
  <title>Mangal</title>
  <style>

    body {
      padding-top: 56px;
    }

    .hover {
      transition: all .2s;
    }

    .hover:hover {
      color: #ddc435 !important;
      background-color: none;
    }

    .cards__box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-family: 'Dancing Script', cursive;
      
    }

    .product__cart {
      width: 300px;
      height: auto;
      background-color: #222222;
      border-radius: 15px;
      overflow: hidden;
      backface-visibility: hidden;
      margin: 0 40px;
    }

    .product__cart-img {
      width: 100%;
      height: 300px;
      border-bottom-left-radius: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding: 4rem;
      background-color: #eee;
    }

  
    
    .product__cart-img a img {
      width: 100%;
    }

    .product__cart-content {
      display: flex;
      flex-direction: column;
      padding: 20px;

    }

    .product__cart-content a {
     text-decoration: none;
     color: #fff
    }

    .content-title {
      color: #fff;
      font-size: 32px;
      margin-bottom: 0.3rem;

    }

    .content-price {
      color: #fff;
      font-size: 16px;
      text-align: right;
    }

    .product__cart-action {
      padding: 20px;
    }

    .content-action {
      margin-top: .5rem;
    }

    .footer {
      margin-top: 2rem
    }

    .active-link {
      background-color: #eee;
    }

    .sideLink {
      font-size: 1.1rem;
    }
    body {
    background: #fbfbfd;
}

.new_footer_area {
    background: #ebe7e7;
}


.new_footer_top {
    padding: 120px 0px 270px;
    position: relative;
      overflow-x: hidden;
}
.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0px;
}
.new_footer_top .company_widget p {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #6a7695;
    margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
    border-width: 1px;
    margin-top: 20px;
}
.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}
.btn_get:hover {
    color: #fff;
    background: #6754e2;
    border-color: #6754e2;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
    text-decoration: none;
    outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
    color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
    margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
    margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
    margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
    margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
    width: 44px;
    height: 44px;
    line-height: 43px;
    background: transparent;
    border: 1px solid #e2e2eb;
    font-size: 24px;
}
.f_social_icon a {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    font-size: 14px;
    line-height: 45px;
    color: #858da8;
    display: inline-block;
    background: #ebeef5;
    text-align: center;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.ti-facebook:before {
    content: "\e741";
}
.ti-twitter-alt:before {
    content: "\e74b";
}
.ti-vimeo-alt:before {
    content: "\e74a";
}
.ti-pinterest:before {
    content: "\e731";
}

.btn_get_two {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #5e2ced;
    border-color: #5e2ced;
    color: #fff;
}

.btn_get_two:hover {
    background: transparent;
    color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
    background: #5e2ced;
    border-color: #5e2ced;
  color:white;
}
.new_footer_top .f_social_icon a + a {
    margin-left: 4px;
}
.new_footer_top .f-title {
    margin-bottom: 30px;
    color: #263b5e;
}
.f_600 {
    font-weight: 600;
}
.f_size_18 {
    font-size: 18px;
}
h1, h2, h3, h4, h5, h6 {
    color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
    color: #6a7695;
}


.new_footer_top .footer_bg {
    position: absolute;
    bottom: 0;
    background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
    width: 100%;
    height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
    background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
    width: 330px;
    height: 105px;
  background-size:100%;
    position: absolute;
    bottom: 0;
    left: 30%;
    -webkit-animation: myfirst 22s linear infinite;
    animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
    background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
    width: 88px;
    height: 100px;
  background-size:100%;
    bottom: 0;
    left: 38%;
    position: absolute;
    -webkit-animation: myfirst 30s linear infinite;
    animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@-webkit-keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

@keyframes myfirst {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}
@media screen and (max-width:768px) {
  #textCar{
    font-size:px!important;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} 
}
.bg_color{
  background-color: wheat;
}


.ttt{
  font-family:'Dancing Script', cursive;
}
/*************footer End*****************/



  </style>
</head>

<body style="min-height: 100vh;">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="background: linear-gradient(90deg,black 33%,rgb(56, 55, 55),rgb(114, 110, 110));">
    <div class="container">
      <a class="navbar-brand mr-6 text-danger" href="{% url 'base' %} " style="font-size: 24px; margin-right: 50px; font-family:'Dancing Script', cursive ;">Mangal <img src="https://cdn-icons-png.flaticon.com/128/3165/3165146.png" class="image" style="width: 50px; height: 50px;"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="mr-3">
              <a href="{% url 'base' %} " class="nav-link text-white hover">Home</a>
            </li>
            {% if not request.user.is_authenticated %}
          <li>
            <a class="nav-link text-white hover" href="{% url 'login' %}">Sign in</a>
          </li>
            <li>
            <a class="nav-link text-white hover" href="{% url 'registration' %}">Sign up</a>
          </li>
          {% else %}
              <li class="nav-item">
                  <span class="navbar-text text-light">Hello, {% if request.user.is_authenticated %}<span class="badge badge-danger"><a href="#" style="text-decoration: none; font-size: 14px;">{{ request.user.username }}</a></span>{% else %} гоcть!{% endif %}<a href="{% url 'logout' %}">| log out</a></span>
              </li>
          {% endif %}
          </ul>
          <ul class="navbar-nav ml-auto korzina" >
          <li class="nav-item korzina" style="position: relative;">
            <a class="nav-link" href="{% url 'cart' %}"><i class="fas fa-shopping-cart hover" style="font-size: 1.3rem;"></i><sup style="position: absolute; top: 3px;" class="badge badge-pill badge-danger">{{ cart.products.count }}</sup></a>
          </li>
          </ul>
      </div>
    </div>
  </nav>

  <!-- slider start -->
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="https://cdn-icons-png.flaticon.com/128/3165/3165146.png" class="image" style="width: 50px; height: 50px; position: absolute; margin:25px;"/>
        <img class="d-block w-100" src="{%static '1.jpg'%}" alt="First slide">
        <div class="carousel-caption d-none d-md-block"  id="textCar">
          <p style="color: white !important;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed dicta debitis libero architecto </p>
          <p>New sale!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn-icons-png.flaticon.com/128/3165/3165146.png" class="image" style="width: 50px; height: 50px; position: absolute; margin:25px;"/>
        <img class="d-block w-100" src="{%static '1.jpg'%}" alt="Second slide">
        <div class="carousel-caption d-none d-md-block"  id="textCar">
          <p style="color: white !important;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed dicta debitis libero architecto </p>
          <p>New sale!!</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://cdn-icons-png.flaticon.com/128/3165/3165146.png" class="image" style="width: 50px; height: 50px; position: absolute; margin:25px;"/>
        <img class="d-block w-100" src="{%static '1.jpg'%}" alt="Third slide">
        <div class="carousel-caption d-none d-md-block"  id="textCar">
          <p style="color: white !important;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed dicta debitis libero architecto </p>
          <p>New sale!!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="carousel-item">
    <img src="{%static '1.jpg'%}" alt="...">
    
  </div>

 
  <!-- slider end -->


  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3 mt-5">
        <div class="list-group">
          {% for category in categories %}
          <a href="{{ category.get_absolute_url }}" class="list-group-item sideLink text-white bg-dark">{{ category.name }} ({{ category.product_set.count }})</a>
          {% endfor %}
          
        </div>
        {% block productfilter %}
        {% endblock productfilter %}
      </div>
      <!-- /.col-lg-3 -->

      <div class="col-lg-9">
      {% block content %}

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}  
        {% endif %}
        <div class="cards__box">      
        {% for product in products %}
        <div class="row mt-5">
          <div class="product__cart">
            <img src="https://cdn-icons-png.flaticon.com/128/3165/3165146.png" class="image" style="width: 50px; height: 50px; position: absolute;"/>
            <div class="product__cart-img">
              <a href="{{ product.get_absolute_url }}">
                <img src="{{ product.image.url }}" alt="product img">
              </a>
            </div>
            <div class="product__cart-content">
              <a href="{{ product.get_absolute_url }}" class="content-title">
                {{ product.title }}
              </a>
              <span class="content-price">{{ product.price }} сум</span>
              <a class='btn btn-warning content-action' href="{% url 'add_to_cart' slug=product.slug %}" class="action-cart">Добавить в корзину</a>

            </div>
            
          </div>
        </div>
        {% endfor %}
      </div>
        <!-- /.row -->
      {% endblock content %}
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="new_footer_area bg_color bg-dark mt-3">
    <div class="new_footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 text-white">Team Solutions</h3>
                        <div class="f_social_icon">
                            <a href="#" class="fab fa-facebook"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                            <a href="#" class="fab fa-pinterest"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <div class="footer_bg_one"></div>
            <div class="footer_bg_two"></div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-7 text-white">
                    <p class="mb-0 f_400">© Icode Academy Bukhara  2022 All rights reserved.</p>
                </div>
                <div class="col-lg-6 col-sm-5 text-right text-white ttt">
                    <p>By <i class="fas fa-heart"></i> <a href="https://t.me/khamrayevbb" target="_blank">Khamrayev Bobur</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

  

  

  <!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="{% static 'script.js' %}"></script>
</body>

</html>
