<style>
  .basket__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }

  .item-img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden ;
    border: 5px solid gold;
  }

  .item-img img {
    width: 100%;
  }

  .item-quantity {
    display: flex;
    flex-direction: column;
    width: 50px;
  }

  .item-price {
    font-size: 18px;
  }


  .item-delete i {
    font-size: 24px;
    transition: all .2s !important;
    color: rgb(87, 87, 87);
  }

  .item-delete i:hover {
    color: red !important
  }

  /* order */

  .cart__final {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .final-price {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  @media screen and (max-width: 768px) {
    .item-img {
      width: 80px;
      height: 80px;
    }

    .item-quantity {
      width: 30px;
      font-size: 14px;
    }

    .item-price {
      font-size: 12px;
    }

    .item-title {
      font-size: 14px;
      text-transform: capitalize;
    }

    .item-quantity {
      font-size: 14px !important;
    }
  }





</style>

{% extends 'header.html' %}
{% load crispy_forms_tags %}

{% block content %}




<div class="basket">
  <h3 class="text-center mt-5 mb-5">Оформление заказа</h3>
  {% for item in cart.products.all %}
  <div class="basket__item">
    <div class="item-img">
      <img src="{{ item.product.image.url }}" alt="prod img">
    </div>
    <h3 class="item-title">
      {{ item.product.title }}
    </h3>
    <div  class="item-quantity " >
      {{ item.qty }}
    </div>
    <div class="item-price ">
      <span>
        {{ item.final_price }} сум.
      </span>
    </div>
  </div>
  {% endfor %}
</div>
<hr>
  <div class="cart__final">
    <div class="final-price">
      <span>Итого:</span>
      <span class="ml-5 text-danger">{{ cart.final_price }} сум.</span>
    </div>
  </div>
  <h3 class="text-center mt-5 mb-5">Форма заказа</h3>
  <form action="{% url 'make_order' %}" method="POST">

  {% csrf_token %}
  {{ form|crispy }}
  <input type="submit" class="btn btn-success btn-block mb-3" values="Оформить заказ">
</form>
{% endblock content %}
